.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-body {
  background-color: #003046;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


li {
  text-align:left;
}

p{
  text-align:left;
}


h3{
  text-align:left;
}

a:link {
color: white;
font-weight: bold;
}
a:visited {
color: white;
}
a:hover {
color: #4E5BCC;
}
